<!DOCTYPE html>
<style>
  label{
    margin-left: 0px;
    margin-right: 25px;
  }
  table{
    border-spacing: 10px;
  }
  .tdBtn{
    text-align: right;
  }
  button{
    margin: 10px;
  }
  body{
    background: #48ACA5;
    text-align: center;
  }
  body > *{
    text-align: left;
  }
  form{
    display: inline-block;
  }
  h1{
    text-align: center;
  }
  h2{
    text-align: center;
  }
  input{
    width: 100%;
  }
  label{
    margin-left: 10px;
  }
</style>
{% block content %} 

{% endblock %}
